.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f5f5f5;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.nav {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nav {
    animation: none;
    box-shadow: 0px 4px 16px 0px #00000033;
    padding: 10px 20px;
  }
}
.freeBox__h6Dgl {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 70px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h6Dgl {
    animation: none;
    padding: 6px 0px 6px 5px;
  }
}
.link__zc7Dr {
  animation: none;
  align-self: flex-start;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__zc7Dr {
    animation: none;
    align-self: flex-start;
  }
}
.logo4 {
  animation: none;
  object-fit: contain;
  max-width: 100%;
  height: 50px;
}
.logo4 > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo4 {
    animation: none;
    height: 25px;
  }
}
.freeBox__qiqZk {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 70px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qiqZk {
    animation: none;
    padding-right: 5px;
    padding-left: 0px;
  }
}
.aSlogan5 {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-size: 17px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-right: 40px;
  color: #291f51;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aSlogan5 {
    animation: none;
    font-size: 12px;
    margin-right: 20px;
  }
}
.aSlogan6 {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-size: 17px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-right: 0px;
  color: #291f51;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aSlogan6 {
    animation: none;
    font-size: 12px;
  }
}
.freeBox__uS2X0 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 70px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uS2X0 {
    animation: none;
    padding: 6px 0px 6px 5px;
  }
}
.link__boQyg {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20px;
  height: 20px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #291f51;
  flex-shrink: 0;
  border-radius: 100px;
}
.text__ew0WS {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 9px;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.freeBox__zocan {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___6G4W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 40px 0px;
  margin: 60px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6G4W {
    max-width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.freeBox__huUxR {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__huUxR {
    animation: none;
    max-width: 100%;
    margin-bottom: 30px;
  }
}
.freeBox__cf1T5 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cf1T5 {
    animation: none;
    margin-bottom: 12px;
  }
}
.freeBox___0GjLs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  border-radius: 20px;
  padding: 4px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0GjLs {
    margin-bottom: 5px;
  }
}
.slot33 {
  animation: none;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  user-select: text;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-style: normal;
  color: #ffffff;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slot33 {
    animation: none;
    font-size: 13px;
    max-width: none;
  }
}
.slot25 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  user-select: text;
  font-family: "Inter", sans-serif;
  margin-bottom: 0px;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slot25 {
    animation: none;
    font-size: 21px;
  }
}
.slot26 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  user-select: text;
  font-family: "Inter", sans-serif;
  margin-bottom: 0px;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slot26 {
    animation: none;
    font-size: 21px;
  }
}
.svg__o1FEu {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 300px;
  height: 1em;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__o1FEu {
    animation: none;
    width: 250px;
  }
}
.slot32 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 80%;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  user-select: text;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-style: normal;
  color: #1e1e1e;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slot32 {
    animation: none;
    font-size: 14.5px;
    max-width: none;
  }
}
.slot38 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 80%;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  user-select: text;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-style: normal;
  color: #1e1e1e;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slot38 {
    animation: none;
    font-size: 14.5px;
    max-width: none;
  }
}
.freeBox__kw2MA {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  min-width: 0;
}
.freeBox__nxbJf {
  animation: none;
  display: flex;
  flex-direction: row;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}
.svg__zdbsF {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 21px;
  height: 21px;
  margin-right: 5px;
  color: #535353;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zdbsF {
    height: 19px;
    width: 19px;
    flex-shrink: 0;
  }
}
.slot34 {
  animation: none;
  width: 100%;
  height: auto;
  font-size: 14.5px;
  font-weight: 500;
  text-align: left;
  user-select: text;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slot34 {
    animation: none;
    font-size: 14.5px;
    max-width: none;
  }
}
.freeBox___633Rr {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 55px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: none;
  margin-top: 0px;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 8px 16px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___633Rr {
    animation: none;
    height: 50px;
    flex-shrink: 0;
  }
}
.svg__mDnVj {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 21px;
  height: 21px;
  margin-right: 5px;
  color: #535353;
  flex-shrink: 0;
  display: none;
}
.emailSlot {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 1px 0px 0px;
  border-width: 1px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .emailSlot {
    animation: none;
  }
}
.freeBox__xkRUz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__qmZa9 {
  animation: none;
  display: flex;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qmZa9 {
    margin-bottom: 30px;
  }
}
.svg__yRxmS {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 21px;
  height: 21px;
  margin-right: 5px;
  flex-shrink: 0;
  display: none;
}
.slot37 {
  animation: none;
  width: auto;
  height: auto;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  user-select: text;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: 0px;
  padding-bottom: 0px;
  max-width: 60%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slot37 {
    animation: none;
    font-size: 13px;
    max-width: 80%;
  }
}
.shopNow {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 75px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #1c3863;
  margin-top: 0px;
  cursor: pointer;
  margin-bottom: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 6px 14px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .shopNow {
    animation: none;
    height: 60px;
    flex-shrink: 0;
  }
}
.text__fwSl {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 21px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fwSl {
    animation: none;
  }
}
.svg__ta43 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 23px;
  margin-left: 5px;
  width: 23px;
  flex-shrink: 0;
  display: none;
}
.embedHtml__s5KzV:global(.__wab_instance) {
  max-width: 65%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .embedHtml__s5KzV:global(.__wab_instance) {
    width: 300px;
    max-width: 100%;
  }
}
.freeBox__e1EG {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  min-width: 0;
}
.freeBox__gYkO {
  animation: none;
  display: flex;
  flex-direction: row;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}
.svg__f21Gr {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 21px;
  height: 21px;
  margin-right: 5px;
  flex-shrink: 0;
}
.slot35 {
  animation: none;
  width: 100%;
  height: auto;
  font-size: 14.5px;
  font-weight: 500;
  text-align: left;
  user-select: text;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slot35 {
    animation: none;
    font-size: 16px;
    max-width: none;
  }
}
.freeBox__iz7Js {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 55px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: none;
  background: none;
  margin-top: 0px;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 0px 16px 0px 0px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iz7Js {
    animation: none;
    height: 50px;
    padding-right: 0px;
    flex-shrink: 0;
  }
}
.freeBox__w0FWq {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0px;
  min-height: 0;
  border-right: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w0FWq {
    animation: none;
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 78px;
  }
}
.img__ienbA {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
  margin: 0px 8px 0px 16px;
}
.img__ienbA > picture > img {
  object-fit: cover;
}
.slot36 {
  animation: none;
  width: auto;
  height: auto;
  font-size: 14.5px;
  font-weight: 500;
  text-align: left;
  user-select: text;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: 0px;
  margin-right: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slot36 {
    animation: none;
    font-size: 16px;
    max-width: none;
  }
}
.phoneSlot {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  min-width: 0;
  border-width: 1px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .phoneSlot {
    animation: none;
  }
}
.btnInactive2 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 75px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #1c386366;
  margin-top: 0px;
  cursor: not-allowed;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 6px 14px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnInactive2 {
    animation: none;
    height: 60px;
    flex-shrink: 0;
  }
}
.text___4GV1 {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 21px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4GV1 {
    animation: none;
  }
}
.svg__cizm1 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 23px;
  margin-left: 5px;
  width: 23px;
  flex-shrink: 0;
}
.submitEmailbtn {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 75px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #1c3863;
  margin-top: 0px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 6px 14px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .submitEmailbtn {
    animation: none;
    height: 60px;
    flex-shrink: 0;
  }
}
.text___51MtT {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 21px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___51MtT {
    animation: none;
  }
}
.svg__gyChg {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 23px;
  margin-left: 5px;
  width: 23px;
  flex-shrink: 0;
}
.submitPhonebtn {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 75px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #1c3863;
  margin-top: 0px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 6px 14px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .submitPhonebtn {
    animation: none;
    height: 60px;
    flex-shrink: 0;
  }
}
.text__jw5Gn {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 21px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jw5Gn {
    animation: none;
  }
}
.svg__spCMt {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 23px;
  margin-left: 5px;
  width: 23px;
  flex-shrink: 0;
}
.phoneBtnInactive {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 75px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #00286866;
  margin-top: 0px;
  cursor: not-allowed;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 6px 14px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .phoneBtnInactive {
    animation: none;
    height: 60px;
    flex-shrink: 0;
  }
}
.text__qylq1 {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 21px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qylq1 {
    animation: none;
  }
}
.svg__iQlq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 23px;
  margin-left: 5px;
  width: 23px;
  flex-shrink: 0;
}
.freeBox__nV4Xo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 300px;
  height: auto;
  max-width: 100%;
  margin-top: 15px;
}
.freeBox___8JOu2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15px;
  height: 15px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #535353b3;
}
.freeBox___8Wd2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 8px;
  height: 8px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #535353b3;
  flex-shrink: 0;
  border-radius: 100px;
}
.slot39 {
  animation: none;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  user-select: text;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-style: italic;
  color: #535353b3;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: 0px;
  margin-left: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slot39 {
    animation: none;
    font-size: 14.5px;
    max-width: none;
  }
}
.freeBox__o38Ko {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  margin-top: 40px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o38Ko {
    margin-top: 30px;
  }
}
.img___2Snpo {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img___2Snpo > picture > img {
  object-fit: cover;
}
.img___6JmTb {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img___6JmTb > picture > img {
  object-fit: cover;
}
.img__ksqya {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__ksqya > picture > img {
  object-fit: cover;
}
.img__tkAmo {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__tkAmo > picture > img {
  object-fit: cover;
}
.img__rNkhR {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__rNkhR > picture > img {
  object-fit: cover;
}
.img__foo7 {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__foo7 > picture > img {
  object-fit: cover;
}
.img__fzKfs {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__fzKfs > picture > img {
  object-fit: cover;
}
.img__l69Yp {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__l69Yp > picture > img {
  object-fit: cover;
}
.img__awet2 {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__awet2 > picture > img {
  object-fit: cover;
}
.img__wcNba {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__wcNba > picture > img {
  object-fit: cover;
}
.img__mo6Ko {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__mo6Ko > picture > img {
  object-fit: cover;
}
.img__c7419 {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__c7419 > picture > img {
  object-fit: cover;
}
.img__q4SFk {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__q4SFk > picture > img {
  object-fit: cover;
}
.img__og97W {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__og97W > picture > img {
  object-fit: cover;
}
.img__c8UdA {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__c8UdA > picture > img {
  object-fit: cover;
}
.img__hNkP {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__hNkP > picture > img {
  object-fit: cover;
}
.footer {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #1f3761;
  padding-top: 0px;
  padding-bottom: 40px;
  box-shadow: none;
  margin-top: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    animation: none;
  }
}
.embedHtml__p2SY:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .embedHtml__p2SY:global(.__wab_instance) {
    animation: none;
  }
}
.freeBox__sMhvi {
  animation: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: none;
  min-width: 0;
  padding: 0px 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sMhvi {
    animation: none;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    column-gap: 0px;
  }
}
.freeBox__lnRph {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 170px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lnRph {
    animation: none;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 0px;
    height: auto;
    min-width: 0;
  }
}
.link__wKlWz {
  animation: none;
  position: relative;
  margin-bottom: 40px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__wKlWz {
    animation: none;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
  }
}
.logo3 {
  animation: none;
  object-fit: contain;
  max-width: 100%;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
}
.logo3 > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo3 {
    animation: none;
  }
}
.freeBox__gslhm {
  animation: none;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gslhm {
    animation: none;
    justify-content: flex-start;
    align-items: center;
  }
}
.link__ntIif {
  animation: none;
  margin-right: 7px;
  display: flex;
}
.svg__t7AVv {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
.link__opxQr {
  animation: none;
  margin-top: 1px;
  margin-right: 6px;
  display: flex;
}
.svg__vk5E7 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.link__pOgWp {
  animation: none;
  margin-bottom: 0px;
  margin-right: 5px;
  display: flex;
}
.svg__tn2W {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.link__mcwAc {
  animation: none;
  margin-right: 4px;
  display: flex;
}
.svg___8Jdh {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.link__kFutT {
  animation: none;
  margin-right: 0px;
  display: flex;
}
.svg__vcUIg {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.freeBox__eUpxU {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 170px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eUpxU {
    animation: none;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 50px;
    height: auto;
    min-width: 0;
  }
}
.text__bo6Yt {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: left;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bo6Yt {
    animation: none;
  }
}
.link___4TajS {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___4TajS {
    animation: none;
  }
}
.link__plWoH {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__plWoH {
    animation: none;
  }
}
.link__pYtaF {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__pYtaF {
    animation: none;
  }
}
.link__wL5Ek {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
.link__p3FJo {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #f4f4f4;
  min-width: 0;
}
.link__dqjFa {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
.freeBox__u3UzT {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  margin: 0px 170px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u3UzT {
    animation: none;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 50px;
    height: auto;
    min-width: 0;
  }
}
.text__sf6Uk {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
.link__fhLyN {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
.link__xR4Np {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xR4Np {
    animation: none;
  }
}
.link__fLAi1 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__fLAi1 {
    animation: none;
  }
}
.link__pBqp4 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
  display: none;
}
.link__uaqk7 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ececec;
  min-width: 0;
  display: none;
}
.freeBox___12Zy9 {
  animation: none;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  display: none;
  margin: 0px 160px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___12Zy9 {
    animation: none;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 50px;
    height: 120px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.text___8M7B3 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  min-width: 0;
}
.link__cqco {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #535353;
  min-width: 0;
}
.link__c1Tx {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #535353;
  min-width: 0;
}
.link__hetyo {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #535353;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hetyo {
    animation: none;
  }
}
.freeBox__lIu0 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  align-self: center;
  height: 100%;
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lIu0 {
    animation: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.freeBox__keS6R {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__keS6R {
    animation: none;
  }
}
.freeBox__fw40I {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  flex-shrink: 1;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fw40I {
    animation: none;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 0px;
  }
}
.p {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 0px;
  color: #f5f5f5;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p {
    animation: none;
    margin-bottom: 10px;
    text-align: center;
  }
}
.freeBox__mrwfw {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mrwfw {
    animation: none;
  }
}
.svg__fhUkB {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 7px;
  height: 1em;
}
.svg__tOywQ {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg__jfbW {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg___342CI {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg__dIdDm {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg__nuwMh {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg__yn2Vp {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg___4H5RZ {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg___1L35Z {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.autoScroll:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.textareastyles:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textareastyles:global(.__wab_instance) {
    animation: none;
  }
}
.confetti:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.styles:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.metaPixel:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.phoneAutoSubmitfunction:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
