@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C200%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Alegreya+Sans%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C100%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C800%3B1%2C900&family=Barlow%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C200%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Poppins%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C200%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&display=swap");

.plasmic_tokens {
  --token-hoxxHbo2PGJp: 1px;
  --plasmic-token-unnamed-style-token: var(--token-hoxxHbo2PGJp);
  --token-gw77fCjCfTCs: var(--token-r3N6ga96UTo1);
  --plasmic-token-unnamed-style-token-2: var(--token-gw77fCjCfTCs);
  --token-r3N6ga96UTo1: #535353;
  --plasmic-token-unnamed-style-token-3: var(--token-r3N6ga96UTo1);
  --token-A717ROzx-dU6: #535353;
  --plasmic-token-unnamed-style-token-4: var(--token-A717ROzx-dU6);
  --token-RWx1wZ1i7wxz: #535353;
  --plasmic-token-unnamed-style-token-5: var(--token-RWx1wZ1i7wxz);
  --token-Mcnb8MRZkCRj: #535353;
  --plasmic-token-unnamed-style-token-6: var(--token-Mcnb8MRZkCRj);
  --token-mVrmF7cAxPno: var(--token-Kma60Tp5-kHr);
  --plasmic-token-unnamed-style-token-7: var(--token-mVrmF7cAxPno);
  --token-Kma60Tp5-kHr: var(--token-ak0NgkJnS8ui);
  --plasmic-token-unnamed-style-token-8: var(--token-Kma60Tp5-kHr);
  --token-ak0NgkJnS8ui: var(--token-xOptK34WCdQh);
  --plasmic-token-unnamed-style-token-9: var(--token-ak0NgkJnS8ui);
  --token-xOptK34WCdQh: var(--token-WfHClUMCWUXq);
  --plasmic-token-unnamed-style-token-10: var(--token-xOptK34WCdQh);
  --token-WfHClUMCWUXq: #35b0d1;
  --plasmic-token-unnamed-style-token-11: var(--token-WfHClUMCWUXq);
  --token-CkFZJRUJXso_: #35b0d1;
  --plasmic-token-unnamed-style-token-12: var(--token-CkFZJRUJXso_);
  --token-fsui-L_ZGlak: #ff7613;
  --plasmic-token-unnamed-style-token-13: var(--token-fsui-L_ZGlak);
  --token-w240ab7MQUp6: var(--token-zeUY_r5RkYVB);
  --plasmic-token-background-color-1-f-7926: var(--token-w240ab7MQUp6);
  --token-zeUY_r5RkYVB: #1f7926;
  --plasmic-token-1-f-7926: var(--token-zeUY_r5RkYVB);
  --token-gS4yLmDUFG7V: #1f7926;
  --plasmic-token-unnamed-style-token-15: var(--token-gS4yLmDUFG7V);
  --token-vm8Rry4InX_B: #f35500;
  --plasmic-token-unnamed-style-token-14: var(--token-vm8Rry4InX_B);
  --token-4lr0kssmx6Nl: #387fcb;
  --plasmic-token-unnamed-style-token-16: var(--token-4lr0kssmx6Nl);
  --token-rEwNaOqS9Wrx: #9dd3e1;
  --plasmic-token-unnamed-style-token-17: var(--token-rEwNaOqS9Wrx);
  --token-8y-sFNJ9elr9: #dcdcd0;
  --plasmic-token-unnamed-style-token-22: var(--token-8y-sFNJ9elr9);
  --token-LoHtUroOp40W: #3cc3e9;
  --plasmic-token-unnamed-style-token-18: var(--token-LoHtUroOp40W);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-CkFZJRUJXso_: #15a1c6;
    --token-fsui-L_ZGlak: #f35900;
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-oOYdcK6gEUuA_font-family: "Inter", sans-serif;
  --mixin-oOYdcK6gEUuA_font-size: 16px;
  --mixin-oOYdcK6gEUuA_font-weight: 400;
  --mixin-oOYdcK6gEUuA_font-style: normal;
  --mixin-oOYdcK6gEUuA_color: #535353;
  --mixin-oOYdcK6gEUuA_text-align: left;
  --mixin-oOYdcK6gEUuA_text-transform: none;
  --mixin-oOYdcK6gEUuA_line-height: 1.5;
  --mixin-oOYdcK6gEUuA_letter-spacing: normal;
  --mixin-oOYdcK6gEUuA_white-space: pre-wrap;
  --mixin-oOYdcK6gEUuA_user-select: text;
  --mixin-oOYdcK6gEUuA_text-decoration-line: none;
  --mixin-oOYdcK6gEUuA_text-overflow: clip;
  --mixin-vKVVB_WGeq5g_color: #000000;
  --mixin-vKVVB_WGeq5g_font-weight: 900;
  --mixin-vKVVB_WGeq5g_font-size: 72px;
  --mixin-vKVVB_WGeq5g_line-height: 1;
  --mixin-vKVVB_WGeq5g_letter-spacing: -4px;
  --mixin-vKVVB_WGeq5g_white-space: pre-wrap;
  --mixin-RLZEsqU9pMof_color: #000000;
  --mixin-RLZEsqU9pMof_font-size: 48px;
  --mixin-RLZEsqU9pMof_font-weight: 700;
  --mixin-RLZEsqU9pMof_letter-spacing: -1px;
  --mixin-RLZEsqU9pMof_line-height: 1.1;
  --mixin-RLZEsqU9pMof_white-space: pre-wrap;
  --mixin-Cq-PxwdKlG_I_color: #0070f3;
  --mixin-Cq-PxwdKlG_I_white-space: pre-wrap;
  --mixin-VD3JeG2OLReW_color: #000000;
  --mixin-VD3JeG2OLReW_font-size: 32px;
  --mixin-VD3JeG2OLReW_font-weight: 600;
  --mixin-VD3JeG2OLReW_letter-spacing: -0.8px;
  --mixin-VD3JeG2OLReW_line-height: 1.2;
  --mixin-VD3JeG2OLReW_white-space: pre-wrap;
  --mixin-0irZRwgIbR9q_color: #000000;
  --mixin-0irZRwgIbR9q_font-size: 24px;
  --mixin-0irZRwgIbR9q_font-weight: 600;
  --mixin-0irZRwgIbR9q_letter-spacing: -0.5px;
  --mixin-0irZRwgIbR9q_line-height: 1.3;
  --mixin-0irZRwgIbR9q_white-space: pre-wrap;
  --mixin-28lRLfn3tKOn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-28lRLfn3tKOn_border-bottom-color: #dddddd;
  --mixin-28lRLfn3tKOn_border-bottom-style: solid;
  --mixin-28lRLfn3tKOn_border-bottom-width: 1px;
  --mixin-28lRLfn3tKOn_border-left-color: #dddddd;
  --mixin-28lRLfn3tKOn_border-left-style: solid;
  --mixin-28lRLfn3tKOn_border-left-width: 1px;
  --mixin-28lRLfn3tKOn_border-right-color: #dddddd;
  --mixin-28lRLfn3tKOn_border-right-style: solid;
  --mixin-28lRLfn3tKOn_border-right-width: 1px;
  --mixin-28lRLfn3tKOn_border-top-color: #dddddd;
  --mixin-28lRLfn3tKOn_border-top-style: solid;
  --mixin-28lRLfn3tKOn_border-top-width: 1px;
  --mixin-28lRLfn3tKOn_border-bottom-left-radius: 3px;
  --mixin-28lRLfn3tKOn_border-bottom-right-radius: 3px;
  --mixin-28lRLfn3tKOn_border-top-left-radius: 3px;
  --mixin-28lRLfn3tKOn_border-top-right-radius: 3px;
  --mixin-28lRLfn3tKOn_font-family: "Inconsolata";
  --mixin-28lRLfn3tKOn_padding-bottom: 1px;
  --mixin-28lRLfn3tKOn_padding-left: 4px;
  --mixin-28lRLfn3tKOn_padding-right: 4px;
  --mixin-28lRLfn3tKOn_padding-top: 1px;
  --mixin-28lRLfn3tKOn_white-space: pre-wrap;
  --mixin-7_i0TqtwKJH7_border-left-color: #dddddd;
  --mixin-7_i0TqtwKJH7_border-left-style: solid;
  --mixin-7_i0TqtwKJH7_border-left-width: 3px;
  --mixin-7_i0TqtwKJH7_color: #888888;
  --mixin-7_i0TqtwKJH7_padding-left: 10px;
  --mixin-7_i0TqtwKJH7_white-space: pre-wrap;
  --mixin-cQTiwCKyBKPS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-cQTiwCKyBKPS_border-bottom-color: #dddddd;
  --mixin-cQTiwCKyBKPS_border-bottom-style: solid;
  --mixin-cQTiwCKyBKPS_border-bottom-width: 1px;
  --mixin-cQTiwCKyBKPS_border-left-color: #dddddd;
  --mixin-cQTiwCKyBKPS_border-left-style: solid;
  --mixin-cQTiwCKyBKPS_border-left-width: 1px;
  --mixin-cQTiwCKyBKPS_border-right-color: #dddddd;
  --mixin-cQTiwCKyBKPS_border-right-style: solid;
  --mixin-cQTiwCKyBKPS_border-right-width: 1px;
  --mixin-cQTiwCKyBKPS_border-top-color: #dddddd;
  --mixin-cQTiwCKyBKPS_border-top-style: solid;
  --mixin-cQTiwCKyBKPS_border-top-width: 1px;
  --mixin-cQTiwCKyBKPS_border-bottom-left-radius: 3px;
  --mixin-cQTiwCKyBKPS_border-bottom-right-radius: 3px;
  --mixin-cQTiwCKyBKPS_border-top-left-radius: 3px;
  --mixin-cQTiwCKyBKPS_border-top-right-radius: 3px;
  --mixin-cQTiwCKyBKPS_font-family: "Inconsolata";
  --mixin-cQTiwCKyBKPS_padding-bottom: 3px;
  --mixin-cQTiwCKyBKPS_padding-left: 6px;
  --mixin-cQTiwCKyBKPS_padding-right: 6px;
  --mixin-cQTiwCKyBKPS_padding-top: 3px;
  --mixin-cQTiwCKyBKPS_white-space: pre-wrap;
  --mixin-ngcu-N0btjBe_display: flex;
  --mixin-ngcu-N0btjBe_flex-direction: column;
  --mixin-ngcu-N0btjBe_align-items: stretch;
  --mixin-ngcu-N0btjBe_justify-content: flex-start;
  --mixin-ngcu-N0btjBe_list-style-position: outside;
  --mixin-ngcu-N0btjBe_padding-left: 40px;
  --mixin-ngcu-N0btjBe_position: relative;
  --mixin-ngcu-N0btjBe_list-style-type: disc;
  --mixin-ngcu-N0btjBe_white-space: pre-wrap;
  --mixin-upcrd9t7FySy_display: flex;
  --mixin-upcrd9t7FySy_flex-direction: column;
  --mixin-upcrd9t7FySy_align-items: stretch;
  --mixin-upcrd9t7FySy_justify-content: flex-start;
  --mixin-upcrd9t7FySy_list-style-position: outside;
  --mixin-upcrd9t7FySy_padding-left: 40px;
  --mixin-upcrd9t7FySy_position: relative;
  --mixin-upcrd9t7FySy_list-style-type: decimal;
  --mixin-upcrd9t7FySy_white-space: pre-wrap;
  --mixin-NN7WeEWdVp_J_color: #000000;
  --mixin-NN7WeEWdVp_J_font-size: 20px;
  --mixin-NN7WeEWdVp_J_font-weight: 600;
  --mixin-NN7WeEWdVp_J_letter-spacing: -0.3px;
  --mixin-NN7WeEWdVp_J_line-height: 1.5;
  --mixin-NN7WeEWdVp_J_white-space: pre-wrap;
  --mixin-A9qsg1RkCOuF_color: #000000;
  --mixin-A9qsg1RkCOuF_font-size: 16px;
  --mixin-A9qsg1RkCOuF_font-weight: 600;
  --mixin-A9qsg1RkCOuF_line-height: 1.5;
  --mixin-A9qsg1RkCOuF_white-space: pre-wrap;
  --mixin-D0SSBwGsYX3b_color: #3291ff;
  --mixin-D0SSBwGsYX3b_white-space: pre-wrap;
  --mixin-1YyZe5owue75_white-space: pre-wrap;
  --mixin--qdvCDbqVYVl_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-WV6IkxBkPLHJ_white-space: pre-wrap;
  --plasmic-mixin-1-f-7926_white-space: var(--mixin-WV6IkxBkPLHJ_white-space);
  --mixin-IokXg7c39XZw_white-space: pre-wrap;
  --plasmic-mixin-background-color_white-space: var(
    --mixin-IokXg7c39XZw_white-space
  );
  --mixin-1pIXRCdICNzl_white-space: pre-wrap;
  --plasmic-mixin-hyperlink_white-space: var(--mixin-1pIXRCdICNzl_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-oOYdcK6gEUuA_font-family);
  font-size: var(--mixin-oOYdcK6gEUuA_font-size);
  font-weight: var(--mixin-oOYdcK6gEUuA_font-weight);
  font-style: var(--mixin-oOYdcK6gEUuA_font-style);
  color: var(--mixin-oOYdcK6gEUuA_color);
  text-align: var(--mixin-oOYdcK6gEUuA_text-align);
  text-transform: var(--mixin-oOYdcK6gEUuA_text-transform);
  line-height: var(--mixin-oOYdcK6gEUuA_line-height);
  letter-spacing: var(--mixin-oOYdcK6gEUuA_letter-spacing);
  white-space: var(--mixin-oOYdcK6gEUuA_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-vKVVB_WGeq5g_color);
  font-weight: var(--mixin-vKVVB_WGeq5g_font-weight);
  font-size: var(--mixin-vKVVB_WGeq5g_font-size);
  line-height: var(--mixin-vKVVB_WGeq5g_line-height);
  letter-spacing: var(--mixin-vKVVB_WGeq5g_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-RLZEsqU9pMof_color);
  font-size: var(--mixin-RLZEsqU9pMof_font-size);
  font-weight: var(--mixin-RLZEsqU9pMof_font-weight);
  letter-spacing: var(--mixin-RLZEsqU9pMof_letter-spacing);
  line-height: var(--mixin-RLZEsqU9pMof_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-Cq-PxwdKlG_I_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-VD3JeG2OLReW_color);
  font-size: var(--mixin-VD3JeG2OLReW_font-size);
  font-weight: var(--mixin-VD3JeG2OLReW_font-weight);
  letter-spacing: var(--mixin-VD3JeG2OLReW_letter-spacing);
  line-height: var(--mixin-VD3JeG2OLReW_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-0irZRwgIbR9q_color);
  font-size: var(--mixin-0irZRwgIbR9q_font-size);
  font-weight: var(--mixin-0irZRwgIbR9q_font-weight);
  letter-spacing: var(--mixin-0irZRwgIbR9q_letter-spacing);
  line-height: var(--mixin-0irZRwgIbR9q_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-28lRLfn3tKOn_font-family);
  border-radius: var(--mixin-28lRLfn3tKOn_border-top-left-radius)
    var(--mixin-28lRLfn3tKOn_border-top-right-radius)
    var(--mixin-28lRLfn3tKOn_border-bottom-right-radius)
    var(--mixin-28lRLfn3tKOn_border-bottom-left-radius);
  padding: var(--mixin-28lRLfn3tKOn_padding-top)
    var(--mixin-28lRLfn3tKOn_padding-right)
    var(--mixin-28lRLfn3tKOn_padding-bottom)
    var(--mixin-28lRLfn3tKOn_padding-left);
  border-top: var(--mixin-28lRLfn3tKOn_border-top-width)
    var(--mixin-28lRLfn3tKOn_border-top-style)
    var(--mixin-28lRLfn3tKOn_border-top-color);
  border-right: var(--mixin-28lRLfn3tKOn_border-right-width)
    var(--mixin-28lRLfn3tKOn_border-right-style)
    var(--mixin-28lRLfn3tKOn_border-right-color);
  border-bottom: var(--mixin-28lRLfn3tKOn_border-bottom-width)
    var(--mixin-28lRLfn3tKOn_border-bottom-style)
    var(--mixin-28lRLfn3tKOn_border-bottom-color);
  border-left: var(--mixin-28lRLfn3tKOn_border-left-width)
    var(--mixin-28lRLfn3tKOn_border-left-style)
    var(--mixin-28lRLfn3tKOn_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-7_i0TqtwKJH7_color);
  padding-left: var(--mixin-7_i0TqtwKJH7_padding-left);
  border-left: var(--mixin-7_i0TqtwKJH7_border-left-width)
    var(--mixin-7_i0TqtwKJH7_border-left-style)
    var(--mixin-7_i0TqtwKJH7_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-cQTiwCKyBKPS_font-family);
  border-radius: var(--mixin-cQTiwCKyBKPS_border-top-left-radius)
    var(--mixin-cQTiwCKyBKPS_border-top-right-radius)
    var(--mixin-cQTiwCKyBKPS_border-bottom-right-radius)
    var(--mixin-cQTiwCKyBKPS_border-bottom-left-radius);
  padding: var(--mixin-cQTiwCKyBKPS_padding-top)
    var(--mixin-cQTiwCKyBKPS_padding-right)
    var(--mixin-cQTiwCKyBKPS_padding-bottom)
    var(--mixin-cQTiwCKyBKPS_padding-left);
  border-top: var(--mixin-cQTiwCKyBKPS_border-top-width)
    var(--mixin-cQTiwCKyBKPS_border-top-style)
    var(--mixin-cQTiwCKyBKPS_border-top-color);
  border-right: var(--mixin-cQTiwCKyBKPS_border-right-width)
    var(--mixin-cQTiwCKyBKPS_border-right-style)
    var(--mixin-cQTiwCKyBKPS_border-right-color);
  border-bottom: var(--mixin-cQTiwCKyBKPS_border-bottom-width)
    var(--mixin-cQTiwCKyBKPS_border-bottom-style)
    var(--mixin-cQTiwCKyBKPS_border-bottom-color);
  border-left: var(--mixin-cQTiwCKyBKPS_border-left-width)
    var(--mixin-cQTiwCKyBKPS_border-left-style)
    var(--mixin-cQTiwCKyBKPS_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-ngcu-N0btjBe_display);
  flex-direction: var(--mixin-ngcu-N0btjBe_flex-direction);
  align-items: var(--mixin-ngcu-N0btjBe_align-items);
  justify-content: var(--mixin-ngcu-N0btjBe_justify-content);
  list-style-position: var(--mixin-ngcu-N0btjBe_list-style-position);
  padding-left: var(--mixin-ngcu-N0btjBe_padding-left);
  position: var(--mixin-ngcu-N0btjBe_position);
  list-style-type: var(--mixin-ngcu-N0btjBe_list-style-type);
  column-gap: var(--mixin-ngcu-N0btjBe_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-upcrd9t7FySy_display);
  flex-direction: var(--mixin-upcrd9t7FySy_flex-direction);
  align-items: var(--mixin-upcrd9t7FySy_align-items);
  justify-content: var(--mixin-upcrd9t7FySy_justify-content);
  list-style-position: var(--mixin-upcrd9t7FySy_list-style-position);
  padding-left: var(--mixin-upcrd9t7FySy_padding-left);
  position: var(--mixin-upcrd9t7FySy_position);
  list-style-type: var(--mixin-upcrd9t7FySy_list-style-type);
  column-gap: var(--mixin-upcrd9t7FySy_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-NN7WeEWdVp_J_color);
  font-size: var(--mixin-NN7WeEWdVp_J_font-size);
  font-weight: var(--mixin-NN7WeEWdVp_J_font-weight);
  letter-spacing: var(--mixin-NN7WeEWdVp_J_letter-spacing);
  line-height: var(--mixin-NN7WeEWdVp_J_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-A9qsg1RkCOuF_color);
  font-size: var(--mixin-A9qsg1RkCOuF_font-size);
  font-weight: var(--mixin-A9qsg1RkCOuF_font-weight);
  line-height: var(--mixin-A9qsg1RkCOuF_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-D0SSBwGsYX3b_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
