.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f5f5f5;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.guide1Draft {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 70%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .guide1Draft {
    flex-direction: column;
    max-width: 90%;
    margin-top: 25px;
    column-gap: 0px;
  }
}
.img__sdVC {
  object-fit: cover;
  max-width: 100%;
  width: 440px;
  height: 440px;
  margin-right: 50px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__sdVC > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__sdVC {
    margin-right: 0px;
  }
}
.freeBox___2X48B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2X48B {
    margin-top: 25px;
  }
}
.freeBox__eo6Qe {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 25px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eo6Qe {
    animation: none;
    justify-content: flex-start;
    align-items: center;
  }
}
.freeBox__pAEvI {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40px;
  height: 40px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #1c3863;
  margin-right: 20px;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pAEvI {
    animation: none;
    margin-right: 10px;
  }
}
.text__wbd74 {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wbd74 {
    animation: none;
  }
}
.heroHeadline3 {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  font-weight: 700;
  font-size: 25px;
  color: #202428;
  text-align: left;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heroHeadline3 {
    animation: none;
    font-size: 17px;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 0px;
    min-width: 0;
  }
}
.paragraph25 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  color: #636363;
  font-size: 21px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  padding-top: 0px;
  line-height: 1.2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph25 {
    animation: none;
    font-size: 16px;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #1d3863;
  padding-bottom: 15px;
  padding-top: 15px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.link__h7OxM {
  display: flex;
}
.img__mi7Pg {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  flex-shrink: 0;
}
.img__mi7Pg > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mi7Pg {
    width: 90px;
    flex-shrink: 0;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .intro {
    max-width: 90%;
    margin-top: 40px;
  }
}
.heroHeadline4 {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  font-weight: 700;
  font-size: 34px;
  color: #1d3863;
  text-align: left;
  margin-bottom: 25px;
  font-family: "Poppins", sans-serif;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heroHeadline4 {
    animation: none;
    width: 100%;
    text-align: left;
    font-size: 26px;
    min-width: 0;
  }
}
.text__s1C7B {
  font-weight: 500;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  color: #616161;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__s1C7B {
    text-align: left;
    font-size: 19px;
  }
}
.guide1__fWw1D:global(.__wab_instance) {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 60px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .guide1__fWw1D:global(.__wab_instance) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.link__urTx {
  margin-right: 0;
  display: flex;
}
.img__sXlaa {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 440px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__sXlaa > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__sXlaa {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text___9Zx36 {
  font-weight: 600;
  font-size: 21px;
}
.text__pxSlb {
  font-weight: 600;
  color: #1d3863;
}
.text__ok4E0 {
  color: #616161;
  font-weight: 400;
}
.link__w63DQ {
  text-decoration-line: underline !important;
}
.guide1___9FuMb:global(.__wab_instance) {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .guide1___9FuMb:global(.__wab_instance) {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}
.link__ftJbb {
  margin-right: 0;
  display: flex;
}
.img___45Ok {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 440px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img___45Ok > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___45Ok {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__x3Dbq {
  font-weight: 600;
  font-size: 21px;
  width: auto;
}
.text__j6LfN {
  font-weight: 600;
  color: #1d3863;
}
.text___4XLa {
  color: #616161;
  font-weight: 400;
}
.link__ots55 {
  text-decoration-line: underline !important;
}
.guide1___1Ooge:global(.__wab_instance) {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .guide1___1Ooge:global(.__wab_instance) {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}
.link__uvc7 {
  margin-right: 0;
  display: flex;
}
.img___30T0J {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 440px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img___30T0J > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___30T0J {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__dfSts {
  font-weight: 600;
  font-size: 21px;
  width: auto;
}
.text__khRtE {
  font-weight: 600;
  color: #1d3863;
}
.text___847Pk {
  color: #616161;
  font-weight: 400;
}
.link__wLbra {
  text-decoration-line: underline !important;
}
.guide1__fykae:global(.__wab_instance) {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .guide1__fykae:global(.__wab_instance) {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}
.link__wtB2 {
  margin-right: 0;
  display: flex;
}
.img__hh6VR {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 440px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__hh6VR > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__hh6VR {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__ho75H {
  font-weight: 600;
  font-size: 21px;
  width: auto;
}
.text__bqE5D {
  font-weight: 600;
  color: #1d3863;
}
.text__qhV55 {
  color: #616161;
  font-weight: 400;
}
.link__amHNp {
  text-decoration-line: underline !important;
}
.guide1__lxV59:global(.__wab_instance) {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .guide1__lxV59:global(.__wab_instance) {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}
.link___3PVpd {
  margin-right: 0;
  display: flex;
}
.img__uUupz {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 440px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__uUupz > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uUupz {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__d3A7S {
  font-weight: 600;
  font-size: 21px;
  width: auto;
}
.text__oM2Wl {
  font-weight: 600;
  color: #1d3863;
}
.text__iO75 {
  color: #616161;
  font-weight: 400;
}
.link__uFti8 {
  margin-bottom: 0px;
  text-decoration-line: underline !important;
}
.guide1___7Wcl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .guide1___7Wcl:global(.__wab_instance) {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}
.link__pwOyJ {
  margin-right: 0;
  display: flex;
}
.img__fnqwb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 440px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__fnqwb > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fnqwb {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text___2NYzf {
  font-weight: 600;
  font-size: 21px;
  width: auto;
}
.text__dlfuT {
  font-weight: 600;
  color: #1d3863;
}
.text__x7XQb {
  color: #616161;
  font-weight: 400;
}
.link__ojZvq {
  text-decoration-line: underline !important;
}
.freeBox__uTpNx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 15px;
  padding: 80px;
  border: 4px dashed #1d3863;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uTpNx {
    max-width: 90%;
    padding: 30px;
  }
}
.heroHeadline5 {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  font-weight: 700;
  font-size: 50px;
  color: #1d3863;
  text-align: center;
  margin-bottom: 25px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heroHeadline5 {
    animation: none;
    width: 100%;
    font-size: 40px;
    min-width: 0;
  }
}
.text__brF5B {
  font-weight: 500;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  color: #616161;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__brF5B {
    font-size: 19px;
  }
}
.submitPhonebtn2 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 75px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #1d3863;
  margin-top: 25px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 6px 14px;
  border: 1px solid #d3d3d3;
}
@media (min-width: 0px) and (max-width: 768px) {
  .submitPhonebtn2 {
    animation: none;
    height: 60px;
    flex-shrink: 0;
  }
}
.text__bkYu {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 21px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bkYu {
    animation: none;
  }
}
.svg__cCpJe {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 23px;
  margin-left: 5px;
  width: 23px;
  flex-shrink: 0;
}
.footer {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #1f3761;
  padding-top: 0px;
  padding-bottom: 40px;
  box-shadow: none;
  margin-top: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    animation: none;
  }
}
.embedHtml:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .embedHtml:global(.__wab_instance) {
    animation: none;
  }
}
.freeBox___27Etp {
  animation: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: none;
  min-width: 0;
  padding: 0px 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___27Etp {
    animation: none;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    column-gap: 0px;
  }
}
.freeBox__rtzpb {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 170px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rtzpb {
    animation: none;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 0px;
    height: auto;
    min-width: 0;
  }
}
.link__s4Saa {
  animation: none;
  position: relative;
  margin-bottom: 40px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__s4Saa {
    animation: none;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
  }
}
.logo3 {
  animation: none;
  object-fit: contain;
  max-width: 100%;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
}
.logo3 > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo3 {
    animation: none;
  }
}
.freeBox___4AQjr {
  animation: none;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4AQjr {
    animation: none;
    justify-content: flex-start;
    align-items: center;
  }
}
.link__dPsvq {
  animation: none;
  margin-right: 7px;
  display: flex;
}
.svg___09Jal {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
.link__jhdWl {
  animation: none;
  margin-top: 1px;
  margin-right: 6px;
  display: flex;
}
.svg___78D7 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.link__khyN {
  animation: none;
  margin-bottom: 0px;
  margin-right: 5px;
  display: flex;
}
.svg__tFjq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.link___4Bzyr {
  animation: none;
  margin-right: 4px;
  display: flex;
}
.svg__qC9G {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.link__uWBjO {
  animation: none;
  margin-right: 0px;
  display: flex;
}
.svg__euhLo {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.freeBox___5OHy8 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 170px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5OHy8 {
    animation: none;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 50px;
    height: auto;
    min-width: 0;
  }
}
.text__jxD3Z {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: left;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jxD3Z {
    animation: none;
  }
}
.link__mD4Xo {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__mD4Xo {
    animation: none;
  }
}
.link___3RfS4 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___3RfS4 {
    animation: none;
  }
}
.link__kH1A {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__kH1A {
    animation: none;
  }
}
.link__cn5Nf {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
.link__kzVdH {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #f4f4f4;
  min-width: 0;
}
.link___7UgbE {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
.freeBox__uPCaH {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  margin: 0px 170px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uPCaH {
    animation: none;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 50px;
    height: auto;
    min-width: 0;
  }
}
.text__vOCnc {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
.link__ld4WN {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
.link__tok8Z {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__tok8Z {
    animation: none;
  }
}
.link__wZ8U4 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__wZ8U4 {
    animation: none;
  }
}
.link__vL5Hl {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  min-width: 0;
  display: none;
}
.link__pTwjv {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ececec;
  min-width: 0;
  display: none;
}
.freeBox___284Oa {
  animation: none;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  display: none;
  margin: 0px 160px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___284Oa {
    animation: none;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 50px;
    height: 120px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.text__pXaj3 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  min-width: 0;
}
.link__ml8S {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #535353;
  min-width: 0;
}
.link__kctUm {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #535353;
  min-width: 0;
}
.link__b9Oi {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
  color: #535353;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__b9Oi {
    animation: none;
  }
}
.freeBox__bN7P {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  align-self: center;
  height: 100%;
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bN7P {
    animation: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.freeBox__vT6I {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vT6I {
    animation: none;
  }
}
.freeBox__cmGv7 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  flex-shrink: 1;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cmGv7 {
    animation: none;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 0px;
  }
}
.p {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 0px;
  color: #f5f5f5;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p {
    animation: none;
    margin-bottom: 10px;
    text-align: center;
  }
}
.freeBox__lSuns {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lSuns {
    animation: none;
  }
}
.svg__gkCg7 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  margin-right: 7px;
  height: 1em;
}
.svg__y8TAv {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg__usEbd {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg__b6ClP {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg__omaxu {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg__cxiO7 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg__ovoeI {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg__sm3X {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.svg__aoJo {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  margin: 0px 7px 0px 0px;
}
.styles:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
