.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 387px;
  height: auto;
  max-width: 100%;
  background: #f6f6f6;
  position: relative;
  padding: 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__ciMp2 {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 15px;
  width: 387px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ciMp2 {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.img___8XlZn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  min-width: 0;
}
.img___8XlZn > picture > img {
  object-fit: cover;
}
.freeBox__yw9N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot {
  text-align: center;
}
.freeBox__qraau {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot2 {
  text-align: center;
}
.freeBox__mv6Dn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot9 {
  font-size: 17px;
  font-weight: 300;
  text-align: center;
}
.freeBox__iyTS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot3 {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.freeBox__ezxzH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ezxzH {
    margin-top: 20px;
  }
}
.slotTargetSlot4 {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 50px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__sPlrg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.freeBox__zl2Bk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___7ILTm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___7ILTm > picture > img {
  object-fit: cover;
}
.freeBox__d2ZLs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot6 {
  font-size: 14px;
  color: #fc5a8d;
  text-align: center;
}
.column__keokK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__v6Kk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__rb3Qz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__rb3Qz > picture > img {
  object-fit: cover;
}
.freeBox___5FzWd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot8 {
  font-size: 14px;
  color: #e2c4a5;
  text-align: center;
}
